[Desktop Entry]
Name=XGram Desktop
Comment=XGram desktop messaging client
TryExec=XGram
Exec=env DESKTOPINTEGRATION=1 XGram -- %U
Icon=one.xgram.desktop
Terminal=false
StartupWMClass=XGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=XGram -quit
Name=Quit XGram
Icon=application-exit
